
<div class="row" style="margin: 0 auto;">
    <p id="LoginMessage">You are not logged in</p>
    <button class="btn btn-primary facePlavo m-2" id="btnLoginOrRegister">Log in or Register</button>
    <br /><br /><br />
    <button class="btn btn-primary m-2" id="btnLogOut">Logout</button>
</div>

<div id="sve">
    <div class="row">
        <div id="divLogin" style="margin: 0 auto;">
            <h3>Login</h3>
            <p id="message"></p>
            <form method="post" action="post/" id="loginForm">
                <label>Email:</label><br />
                <input type="text" id="loginEmail" /><br />
                <label>Password:</label><br />
                <input type="password" id="loginPassword" /><br /> <br />
                <button type="submit" class="btn btn-primary facePlavo">Login</button>
                <br />
                <br />
                <button type="reset" class="btn btn-primary" id="cancelLog">Cancel</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="divRegistration" style="margin: 0 auto;">
            <h3>Registration</h3>
            <form method="post" action="post/" id="registerForm">
                <label>Email:</label><br />
                <input type="text" id="registerEmail" /><br />
                <label>Password:</label><br />
                <input type="password" id="registerPassword" /><br />
                <label>Confirm Password:</label><br />
                <input type="password" id="confirmPassword" /><br />
                <br />
                <button type="submit" class="btn btn-primary facePlavo">Register</button>
                <br />
                <br />
                <button type="reset" class="btn btn-primary" id="cancelReg">Cancel</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="form-inline" id="LoginOrRegisterDiv" style="margin: 0 auto;">
            <button style="margin:5px;" class="btn btn-primary facePlavo" id="btnLogin">Login</button>
            <br />
            <br />
            <button style="margin:5px;" class="btn btn-primary facePlavo" id="btnRegister">Registration</button>
        </div>
    </div>

</div>

@section scripts
{
    <link href="~/Content/Site.css" />
    <script src="~/Scripts/LoginRegisterAndLogout.js"></script>
}